.wrapper {
    margin: 0 auto;
    width: 1200px;
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif
}

h1 {
    font-size: 3.2vw;
}




    .contents{
       text-align: center;
       background-color: rgb(143, 125, 173);
       font-family: "Times New Roman", Times, serif;
        color: white;

    }

    .nav-item {
       color: white ;
       font-size: 18px;
       text-decoration: none;
       font-family: 'Poppins', sans-serif

    }

    .nav-link {
        margin: 0 17px;
    }


    .contain {
        margin: -23.52px;

    }

    .footer {
        text-align: center;
    }


    .homeContent {
        margin-top: 0;
    }
